.app {
  display: flex;
  flex-flow: row wrap;
}

main {
  padding: 2em 1em;
  width: calc(100% - 200px);
  min-height: 550px;
}

section .section-title,
section .section-subtitle {
  color: #621483;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

section .section-subtitle {
  font-size: 20px;
  margin-bottom: 20px;
}

section .section-subtitle span {
  font-size: 14px;
}

section .actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
}

section .actions .order-by {
  font-size: 14px;
  color: #270137;
}

section .order-by select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  text-indent: 0.1;
  text-overflow: '';
  padding: 5px 10px;
  background-color: #7a2a9c;
  color: #fff;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 5px;
  transition: 0.4s ease-in-out;
}

section .order-by select:hover {
  background-color: #672385;
}

section .order-by select option:checked,
section .order-by select option:hover {
  box-shadow: 0 0 10px 100px #551d6d inset;
}

section .order-by select:focus > option:checked { 
  background: #551d6d !important;
}

.btn-primary {
  width: auto;
  background-color: #7a2a9c;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.btn-primary:hover {
  background-color: #6f049c;
}

.btn-primary.green {
  background-color: #2ecc71;
}

.btn-primary.green:hover {
  background-color: #27ae60;
}

form input,
form textarea {
  display: block;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 14px;
}

form input {
  width: 560px;
}

form .btn-primary {
  margin-top: 10px;
  width: auto;
}

form textarea {
  width: 560px;
  max-width: 100%;
  height: 100px;
  resize: none;
}

@media (max-width: 769px) {
  main {
    width: 100%;
    order: 2;
  }

  .category-list {
    width: 100%;
    order: 1;
  }
}
