.not-found {
  min-height: 550px;
  padding: 3em 2em;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.not-found .wrapper {
  width: 500px;
  max-width: 100%;
  background-color: #e1e1e1;
  padding: 2em 1em;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}

.not-found .wrapper a {
  display: inline;
  width: 100%;
  text-decoration: none;
  text-transform: lowercase;
  color: #7a2a9c;
  margin-bottom: 20px;
  transition: all 0.4s ease-in-out;
}

.not-found .wrapper a:hover {
  color: #6f049c;
}

.not-found .wrapper a img {
  height: 20px;
  transform: scaleX(-1);
  margin: 0 10px -5px 0;
  transition: all 0.4s ease-in-out;
}

.not-found .wrapper a:hover img {
  margin-left: -5px;
}

.not-found .wrapper .text {
  text-align: center;
  background-color: #fff;
  margin-top: 1em;
  padding: 1em;
  border-radius: 4px;
}

.not-found .wrapper .text span {
  display: block;
  width: 100%;
  text-align: center;
  color: #e74c3c;
  text-transform: uppercase;
  font-size: 30px;
}

.not-found .wrapper .text .number {
  font-size: 50px;
}
