.new-edit-post .form-wrapper {
  width: 80%;
  margin: 0 auto;
  min-height: 480px;
}

.new-edit-post .form-wrapper p {
  margin: 10px 0;
  padding: 10px;
  background-color: #e1e1e1;
  color: #666;
  font-size: 14px;
  font-weight: 200;
}

.new-edit-post .form-wrapper form {
  margin-top: 1em;
}

.new-edit-post .form-wrapper select {
  margin-top: 2em !important;
}

.new-edit-post .form-wrapper select:disabled,
.new-edit-post .form-wrapper select:disabled:hover {
  color: #666;
  background-color: #ebebe4;
  cursor: default;
}

@media (max-width: 769px) {
  .new-edit-post .form-wrapper {
    width: 100%;
    padding: 1em;
  }
}
